<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" id="name" placeholder="Name of that drink" />
    <input type="text" id="description" placeholder="Description" />
    <button id="submit">SUBMIT</button>
    <script>
      document.getElementById("submit").addEventListener("click", function () {
        fetch("http://127.0.0.1:8000/placeDrink/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
          body: JSON.stringify({
            name: document.getElementById("name").value,
            description: document.getElementById("description").value,
          }),
        })
          .then((response) => response.json())
          .then((data) => console.log(data));
      });
    </script>
  </body>
</html>
